@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Cinzel', serif;
    /* Fondo estilo Alianza: Azul oscuro regio */
    background: radial-gradient(circle at top, #0c1c2e, #04080e);
    color: #f5e6b3; display: flex; flex-direction: column; align-items: center; padding-top: 40px;
}

.hero-alianza { text-align: center; margin-bottom: 30px; }
h1 { color: #4da6ff; text-shadow: 0 0 15px rgba(77, 166, 255, 0.8), 2px 2px 4px #000; font-size: 50px; letter-spacing: 2px; }
.subtitle { color: #d4af37; font-size: 22px; margin-top: 10px; }

/* MENÚ */
.buttons { display: flex; flex-wrap: wrap; gap: 15px; justify-content: center; margin-bottom: 50px; }
button {
    background: linear-gradient(to bottom, #1a3350, #0a1420); border: 1px solid #4da6ff;
    color: #e6f2ff; padding: 12px 24px; font-family: 'Cinzel', serif; font-weight: bold;
    cursor: pointer; border-radius: 4px; box-shadow: 0 4px 6px rgba(0,0,0,0.5); transition: 0.3s;
}
button:hover { transform: translateY(-3px); border-color: #d4af37; box-shadow: 0 0 15px rgba(77, 166, 255, 0.6); color: #d4af37;}

.contenedor { width: 100%; max-width: 1000px; padding: 0 20px;}

/* TARJETAS DE RAZAS */
.fila {
    display: flex; align-items: center; gap: 40px;
    background: rgba(12, 28, 46, 0.6); backdrop-filter: blur(5px);
    border: 1px solid #2a527a; border-left: 5px solid #d4af37;
    border-radius: 12px; padding: 30px; margin-bottom: 40px;
    transition: all 0.4s ease; box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.fila:hover {
    transform: scale(1.03) translateY(-5px);
    border-color: #4da6ff;
    box-shadow: 0 15px 30px rgba(77, 166, 255, 0.3);
}

.izquierda { flex-direction: row; text-align: left; }
.derecha { flex-direction: row-reverse; text-align: right; border-left: 1px solid #2a527a; border-right: 5px solid #d4af37;}

.fila img {
    width: 220px; height: 220px; object-fit: cover;
    border: 3px solid #d4af37; border-radius: 50%; /* Imágenes redondas como retratos */
    box-shadow: 0 0 20px rgba(0,0,0,0.8); transition: 0.4s;
}

.fila:hover img { transform: rotate(3deg) scale(1.05); border-color: #4da6ff; box-shadow: 0 0 25px rgba(77, 166, 255, 0.6);}

.info { flex: 1; }
h3 { color: #d4af37; font-size: 26px; margin-bottom: 15px; text-shadow: 1px 1px 4px #000; }
p { font-size: 17px; line-height: 1.8; color: #cce0ff; }

/* FOOTER */
footer {
    margin-top: 40px; padding: 40px 20px; width: 100%;
    background: linear-gradient(to top, #03060a, #0c1c2e);
    border-top: 2px solid #d4af37; text-align: center;
}
footer h3 { margin: 0 0 15px 0; color: #d4af37; font-size: 20px; }